<html>
    <head>
        
    </head>
    <body>
        <h1>
            Welcome to AmberGo
        </h1>
        <form method = "POST">
            Email <input type = "text" name = "useremail" required><br><br>
            Name <input type = "text" name = "tempusername"><br><br>
            <input type = "submit" value = "I need help" name = "selectinput"><br><br>
            <input type = "submit" value = "I want to help" name = "selectinput">
        </form>
        <script>
            
        </script>
        
    </body>
</html>