<html>
    <head>
        
    </head>
    <body>
        <h1>
            Create Report
        </h1><br>
        <h2>
            Hello {{  name  }}
        </h2>
        <form method = "POST">
            Street <input type = "text" value = "60 Sachem St" name = "street" required><br><br>
            City <input type = "text" value = "New Haven" name = "city" required><br><br>
            State <input type = "text" value ="CT" name = "state" required><br><br>
            Make <input type = "text" value = "Ford" name = "make" required><br><br>
            Model <input type = "text" value = "Focus" name = "model" required><br><br>
            Model Year <input type = "text" name = "model_year"><br><br>
            Licence Plate <input type = "text" name = "licence_plate"><br><br>
            Color <input type = "text" value = "Red" name = "color" required><br><br>
            <input type = "submit" value = "Submit" name = "submit"><br><br>
        </form>
    </body>
</html>